body{
    background-color: rgb(32, 32, 32);
    font-family: Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1,h2{
    color: lightgray;
}

h3{
    display: inline;
}

table input {
    width: 50px;
}

img {
    width:50%;
}

table{
    width: 100%;
}

th {
    background-color: lightsteelblue;
}

tr {
    text-align: center;
}

#data {
    background-color: lightsteelblue;
}

.card {
    border: solid 1px lightblue;
    background-color: lightsteelblue;
}

.nalaColor img{
    border: solid 1px lightpink;
}
.kikiColor img{
    border: solid 1px lightseagreen;
}
.pekoeColor img{
    border: solid 1px lightsalmon;
}
.rogueColor img{
    border: solid 1px lightcoral;
}